<header class="ui-head gms" role="banner">
  <h1 id="gms-logo" class="ui-logo ui-logo-gms"></h1>

  <subhead class="ui-location">
    <p class="ui-location-time"></p>
  </subhead>

<!-- Commented out in case we bring these back soon. -->
  <!-- <div class="ui-buttons">
    <%# @sign.directory_slides.each do |slide| %>
      <a href="#<%#= slide.slug %>">
        <button class="ui-button-directory"><span><%#= slide.menu_name %></span></button>
      </a>
    <%# end %>
  </div> -->
</header>